.div-container{
    align-content:center;
    
   
}
.hh{
    display:flex;
    justify-content: center; 
    background-color: blue;
    
}

.ll{
    width:100px;
    height: 200px;
    position: relative;
    background-color: red;
    padding-left: 44%;
    display:flex;
    justify-content: center;
    
    
   
    flex-direction: column;
    gap:10px;
}